@using NoteManager.Infrastructure.Enums

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@Url.Action(EAction.Index.ToString(), EController.Home.ToString())"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
            </li>
            <li>
                <a href="@Url.Action(EAction.Index.ToString(), EController.Company.ToString())"><i class="fa fa-credit-card fa-fw"></i> Compañias</a>
            </li>
            <li>
                <a href="@Url.Action(EAction.Index.ToString(), EController.Customer.ToString())"><i class="fa fa-list-ul fa-fw"></i> Clientes</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->