@using NoteManager.Infrastructure.Constants
@using NoteManager.Infrastructure.Enums
<a class="navbar-brand" style="padding: 3px 15px;" href="@Url.Action(EAction.Index.ToString(), EController.Home.ToString())">
    <img class="media-object" src="@Url.Content(WebConstants.Logo)" alt="..." height="45">
</a>